@charset "utf-8";

/* EPN00 */
.cmpnt-epn00 {overflow:hidden;position:relative;width:100%;box-sizing:border-box;background-color:#f8f8f8;}
.cmpnt-epn00__wrap {position:relative;box-sizing:border-box;}

.cmpnt-epn00__list {border-bottom:1px solid #05141F;}
.cmpnt-epn00__title {position:relative;border-top:1px solid #05141F;}
.cmpnt-epn00__title button::after {content:'';position:absolute;z-index:5;width:24px;height:24px;background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-arrow-bottom.svg');background-size:24px;;}
.cmpnt-epn00__title button {width:100%;text-align:left;font-family:'kiaB';line-height:150%;box-sizing:border-box;color:#05141F}
.cmpnt-epn00__detail {display:none;transition: all 0.2s ease;border-top:1px solid rgba(5, 20, 31, 0.20);line-height:150%;color:rgba(5, 20, 31, 0.80);box-sizing:border-box;}
.is-show .cmpnt-epn00__detail {display:block}


@media screen and (min-width: 1025px) and (max-width: 20000px) {
    .cmpnt-epn00__wrap {width:1280px;margin:0 auto;padding:0 0 90px;}
    .cmpnt-epn00__title button {font-size:20px;padding:24px 72px 24px 0;}
    .cmpnt-epn00__title button::after {right:24px;top:50%;transform: translate(0, -50%);}
    .is-show  .cmpnt-epn00__title button::after {transform: rotate(3.142rad) translateY(50%);}
    .cmpnt-epn00__detail {font-size:17px;padding:24px 0;}
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
    .cmpnt-epn00__wrap {width:calc(100% - 8vw);}
}

@media screen and (max-width:1024px) {
    .cmpnt-epn00__wrap {padding:0 0 60px;}
    .cmpnt-epn00__title button {font-size:18px;padding:16px 56px 16px 0;}
    .cmpnt-epn00__title button::after {right:16px;top:16px;}
    .is-show .cmpnt-epn00__title button::after {transform: rotate(3.142rad) translateY(0);}
    .cmpnt-epn00__detail {font-size:16px;padding:16px 0;}
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .cmpnt-epn00__wrap {margin:0 38px;}
}    

@media screen and (min-width:0) and (max-width:767px) {
    .cmpnt-epn00__wrap {margin:0 20px;}
}