@charset "utf-8";

/* ppp01 */
.cmpnt-ppp01 .cmpnt-popup__layer {max-width: 1060px;}
.cmpnt-ppp01 .cmpnt-popup__wrap {position: relative; display: flex; padding-top: 0;}
.cmpnt-ppp01__thumb {background-color: #05141F;}
.cmpnt-ppp01__content {padding: 54px 30px 54px 52px; background-color: #fff;}
.cmpnt-ppp01__inner {display: flex; flex-direction: column; justify-content: space-between; padding-right: 10px;}
.cmpnt-ppp01__inner::-webkit-scrollbar {width: 6px;background-color: #fff}
.cmpnt-ppp01__inner::-webkit-scrollbar-thumb {background-color: #ccc !important;border-radius: 6px;background-clip: padding-box;border: 1px solid transparent}
/* .cmpnt-ppp01__inner::-webkit-scrollbar-track {opacity: .2;border-radius: 6px;box-shadow: inset 0 0 2px #fff;} */

.cmpnt-ppp01__product-name {font-family: kiaB; line-height: 140%; }
.cmpnt-ppp01__product-number {font-size: 14px; line-height: 150%; opacity: 0.8;}
.cmpnt-ppp01__product-desc {line-height: 150%; opacity: 0.8;}
.cmpnt-ppp01__cost {display: flex; justify-content: space-between;     align-items: center; gap: 24px; border-top: 1px solid rgba(5, 20, 31, 0.20);}
.cmpnt-ppp01__tax-info {font-size: 14px; line-height: 150%; opacity: 0.8;}
.cmpnt-ppp01__price-info {font-family: kiaB; line-height: 150%; opacity: 0.8;}
.cmpnt-ppp01__button {display: flex; justify-content: start;}
.cmpnt-ppp01__button a {height: 46px;  font-size: 14px; font-family: kiaB; line-height: 46px; background-color: #05141F; color: #fff; text-decoration: none; padding: 0 30px; }
.cmpnt-ppp01__inner + .cmpnt-ppp01__button {margin-top: 36px;}
.cmpnt-ppp01 .cmpnt-popup__btn--close {position: absolute; top: 24px; right: 24px;}


@media screen and (min-width: 1026px) and (max-width: 20000px) {
  .cmpnt-ppp01__thumb {width: 100%;}
  .cmpnt-ppp01__thumb img {width: 510px; height: 510px; object-fit: contain;}
  .cmpnt-ppp01__content {width: 100%;}
  .cmpnt-ppp01__inner {height: 320px; overflow-y: auto;}
  .cmpnt-ppp01__product-name {font-size: 26px; margin-bottom: 12px;}
  .cmpnt-ppp01__product-number {margin-bottom: 24px;}
  .cmpnt-ppp01__product-desc {font-size: 17px;}
  .cmpnt-ppp01__cost {padding-top: 24px; margin-top: 24px;}
  .cmpnt-ppp01__price-info {font-size: 17px;}
  .cmpnt-ppp01 .cmpnt-popup__btn--close {top: -68px; right: 0;}
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .cmpnt-ppp01 .cmpnt-popup__layer {max-width: 100%;}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .cmpnt-ppp01 .cmpnt-popup__layer {max-width: 512px;    overflow-y: auto;    max-height: 922px;}
  .cmpnt-ppp01 .cmpnt-popup__wrap {flex-direction: column; height: 100%;
    overflow-y: auto;}
  .cmpnt-ppp01__thumb img {width: 100%; height: auto; object-fit: cover;}
  .cmpnt-ppp01__content {padding: 30px 30px 60px;/* overflow-y: scroll; height: 321px; */ }
  .cmpnt-ppp01__product-name {font-size: 20px; margin-bottom: 8px;}
  .cmpnt-ppp01__product-number {margin-bottom: 24px;}
  .cmpnt-ppp01__product-desc {font-size: 16px;}
  .cmpnt-ppp01__cost {margin-top: 30px; padding-top: 30px;}
  .cmpnt-ppp01__price-info {font-size: 16px;}
  .cmpnt-popup__btn--close {top: 24px; right: 20px;}
}

@media screen and (min-width:0) and (max-width:767px){
  .cmpnt-ppp01 .cmpnt-popup__layer {width: 100%; height: 100%;overflow-y: scroll;}
  .cmpnt-ppp01 .cmpnt-popup__wrap {flex-direction: column;}
  .cmpnt-ppp01__thumb img {width: 100%; height: auto; object-fit: cover;}
  .cmpnt-ppp01__content {padding: 30px 20px 60px;}
  .cmpnt-ppp01__product-name {font-size: 20px; margin-bottom: 8px;}
  .cmpnt-ppp01__product-number {margin-bottom: 24px;}
  .cmpnt-ppp01__product-desc {font-size: 16px;}
  .cmpnt-ppp01__cost {margin-top: 30px;  padding-top: 30px;}
  .cmpnt-ppp01__price-info {font-size: 16px;}
  .cmpnt-ppp01__button {justify-content: center;}
  .cmpnt-ppp01__button a {width: 100%; text-align: center;}
  .cmpnt-popup__btn--close {top: 16px; right: 16px;}
}