@charset "utf-8";

/* layout - common */
.layout-center {text-align:center}
.layout-left {text-align:left}
.layout-right {text-align:right}

.layout-white {background-color:#fff !important}
.layout-grey {background-color:#f8f8f8 !important}


/* Icon - common */
.cta-ico {width:16px;height:16px;background-repeat:no-repeat;background-position:0 0;background-size:16px;}
.cta-ico.ico-none {display:none}
.ico-download {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-download-white.svg');}
.ico-phone {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-phone-white.svg');}
.ico-outlink {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-outlink-white.svg');order:2}
.cta-ico.ico-newIcon {background:none}
.ico-newIcon img {width:16px;height:16px;}

.bg-white strong {color:#05141F}
.bg-white .ico-download {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-download.svg');}
.bg-white .ico-phone {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-phone.svg');}
.bg-white .ico-outlink {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-outlink.svg');order:2}

/* Form */
.cmpnt-src-select {position:relative;display:flex;align-items: center;padding:0 15px;height:46px;border:1px solid rgba(5, 20, 31, 0.20);cursor:pointer;box-sizing: border-box;}
.cmpnt-src-select[placeholder]::before {content:attr(placeholder);display: block;line-height: 2em;color:#05141f;opacity:0.6}
.cmpnt-src-select[value]::before {content: attr(value);color: #05141f;opacity:1;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
.cmpnt-src-select::after {content:'';position:absolute;right:15px;top:0;width:20px;height:20px;background:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-arrow-bottom.svg') no-repeat 50% 50%;transform: translateY(58%);}
.cmpnt-src-select.is-show::after {transform: rotate(3.142rad) translateY(-50%);}
.cmpnt-src-select.is-show ul {display:block;overflow:auto;max-height:202px;}
.cmpnt-src-select ul {display:none;position:absolute;left:-1px;top:100%;z-index:100;padding:0;list-style:none;background: #fff;border: 1px solid rgba(5, 20, 31, 0.2);box-sizing:border-box;overflow:auto;;}
.cmpnt-src-select ul li:hover,
.cmpnt-src-select ul li:hover.is-select {background-color:rgba(5, 20, 31, 1);color:#fff;text-decoration:underline;}
.cmpnt-src-select ul li.is-select {color:#05141F;text-decoration:underline}
.cmpnt-src-select__item {height:40px;padding:12px 16px 5px;box-sizing:border-box;color: #495057;border: 1px solid transparent;text-align:left;}
.cmpnt-src__button {padding:0 30px;height:46px;background-color:#05141F;font-family:'KiaB';font-size:14px;color:#fff}
.cmpnt-src__button:hover {text-decoration: underline;text-decoration-thickness:1px;text-underline-offset:3px;}

.cmpnt-src-input {display:inline-block;position:relative;text-align:left;border:1px solid rgba(5, 20, 31, 0.2);opacity:1;height:46px;box-sizing: border-box;}
.cmpnt-src-input::before {content:'';position:absolute;left:20px;top:-2px;width:24px;height:24px;background:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-search.svg') no-repeat 0 50%;transform: translateY(50%);background-size:24px;}
.cmpnt-src-input.is-error {border:1px solid #EA0029}
.cmpnt-src__error {display:none;text-align:left;font-size:13px;line-height:150%;color:#EA0029;margin-top:8px}
.cmpnt-src__button--reset {display:none;position:absolute;right:20px;top:-2px;width:24px;height:24px;background:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-reset.svg') no-repeat 0 50%;transform: translateY(50%);background-size:24px;cursor:pointer;font-size:0;}
.is-keyup .cmpnt-src__button--reset {display:block}
.cmpnt-src-input > input {border:none;background-color: transparent;font-size:16px;line-height:150%;color:#05141F;width:100%;height:46px;padding:10px 20px 10px 59px;box-sizing: border-box;}
.cmpnt-src-input > input:focus {outline:none;border:1px solid #05141F;line-style:inset;height:46px;box-sizing:border-box;}
.cmpnt-src-input > input::placeholder {color:#05141F;opacity:0.6}
.cmpnt-src__search-number {font-size:14px;line-height:150%;padding:18px 0}
.cmpnt-src-input + .cmpnt-src__helpArea,
.cmpnt-src__error + .cmpnt-src__helpArea {margin-top:20px}
.cmpnt-src__helpArea {width:100%;text-align:center;font-family:'kiaB';font-size:13px;color:#05141F;}
.cmpnt-ico__help {padding-left:18px;background:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-help.svg') no-repeat 0 50%;transform: translateY(50%);background-size:14px;}
.cmpnt-ico__help.cmpnt-ico__help--right {padding-right:18px;padding-left:0;background-position:100% 50%}

@media screen and (min-width: 1026px) and (max-width: 20000px) {
    .cmpnt-src-select {font-size:16px;min-width:200px}
    .cmpnt-src-select ul {min-width:200px}
}

@media screen and (max-width:1024px){
    .cmpnt-src-select {font-size:14px;}
    .cmpnt-src__search-number {padding:14px 0}
}

@media screen and (min-width:768) and (max-width:1024px){
    .cmpnt-src-select, 
    .cmpnt-src-select ul {min-width:160px}
}

@media screen and (min-width:0) and (max-width:767px){
    .cmpnt-src-select,
    .cmpnt-src-select ul {width:100%;}
    .cmpnt-src-select ul {box-sizing: content-box;}
    .cmpnt-src__button {margin-top:10px}

    .cmpnt-src-input {width:100%;}
    .cmpnt-src__error {width:100%;margin:8px auto;}
}

/* pagination */
.cmpnt-pagination {display:flex;gap:30px;justify-content: center;align-items: center;}
.cmpnt-pagination a {font-size:16px;line-height:150%;color:rgba(5, 20, 31, 0.6);min-width:10px;text-decoration:none;}
.cmpnt-pagination a + a {margin-left:5px;}
.cmpnt-pagination a.on,
.cmpnt-pagination a:hover {font-family:'kiaB';color:#05141F;}
.cmpnt-pagination a.on,
.cmpnt-pagination a.on:hover {text-decoration:underline;text-decoration-thickness:2px;text-underline-offset:3px;}
.cmpnt-pagination a:hover {text-decoration:none;}
.cmpnt-pagination--prev,
.cmpnt-pagination--next {width:18px;height:18px;background-repeat:no-repeat;background-position:50% 50%;background-size:100%;text-indent:-9999em;}
.cmpnt-pagination--prev,
.cmpnt-pagination--next {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-swiper-arrow.svg');}
.cmpnt-pagination--prev.is-disabled,
.cmpnt-pagination--next.is-disabled {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-arrow-grey.svg');cursor:default;}
.cmpnt-pagination--prev:not(.is-disabled),
.cmpnt-pagination--next.is-disabled {transform: rotate(3.142rad)}

@media screen and (min-width: 1026px) and (max-width: 20000px) {
    .cmpnt-pagination {margin-top:45px}
}

@media screen and (max-width:1024px){
    .cmpnt-pagination {margin-top:30px}
}

/* List Search Message */
.cmpnt-search-message {width:100%;display:flex;flex-direction:column;align-items:center;justify-content:center;}
.cmpnt-search-message strong {display:block;font-size:36px;line-height:140%}
.cmpnt-search-message li {padding-left:10px;text-indent:-10px;padding-bottom:2px;font-size:17px;line-height:150%;color:rgba(5, 20, 31, 0.6);}
.cmpnt-search-message li::before {content:'';display:inline-block;background-color: rgba(5, 20, 31, 0.60);width:4px;height:4px;border-radius: 2px;vertical-align:middle;margin-right:10px;}

@media screen and (min-width: 1026px) and (max-width: 20000px) {
    .cmpnt-search-message {min-height:774px;gap:40px;margin-top:90px}
    .cmpnt-search-message strong {font-size:36px;}
    .cmpnt-search-message li {font-size:17px;}
}

@media screen and (max-width:1024px){
    .cmpnt-search-message {gap:30px;margin-top:60px}
    .cmpnt-search-message strong {font-size:24px;}
    .cmpnt-search-message li {font-size:16px;}
}

@media screen and (min-width:768px) and (max-width:1024px){
    .cmpnt-search-message {min-height:802px;}
}

@media screen and (min-width:0) and (max-width:767px){
    .cmpnt-search-message {min-height:494px;}
}

/* video button */
.cmpnt-video__button {position:absolute;left:50%;top:50%;font-size:0;transform: translate(-50%, -50%);font-size:0;}
.cmpnt-video__button span {position:relative;display:inline-block;width:100%;height:100%;border-radius:50%;border:1px solid rgba(255, 255, 255, 0.6);background-color:rgba(5, 20, 31, 0.4);font-size:0;line-height:0;box-sizing:border-box;}
.cmpnt-popup__media:hover .cmpnt-video__button span,
.cmpnt-video__button span:hover {border:2px solid rgba(255, 255, 255, 1);background-color:rgba(5, 20, 31, 0.8);}
.cmpnt-video__button span::before {content:'';width:24px;height:24px;position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);z-index:5;}
.cmpnt-video__button--play span::before {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-play.svg');}
.cmpnt-video__button--pause span::before {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-pause.svg');}
.cmpnt-video__button--pause {opacity:0}
.cmpnt-popup__media .cmpnt-video__button {pointer-events : none;}
.cmpnt-video__button--play.is-video-playing {opacity:0}

@media screen and (min-width: 1025px) and (max-width: 20000px) {
    .cmpnt-video__button {width:76px;height:76px;box-sizing:border-box;}
}

@media screen and (max-width:1024px){
    .cmpnt-video__button,
    .cmpnt-video__button span {width:50px;height:50px;}
    .cmpnt-popup .cmpnt-video__button {transform: translate(-50%, 0)}
}

/* popup : Video, Youtube */
.cmpnt-popup {position:fixed;padding:0;z-index:2100}
.cmpnt-popup__wrap {position:relative;box-sizing:border-box;}
.cmpnt-popup__media {cursor:pointer}
.cmpnt-popup__media video {width:100%;height:100%;aspect-ratio:16/9;object-fit:cover;}
.cmpnt-popup__media .youtube__iframe {width:100%;height:100%;aspect-ratio:16/9;object-fit:cover;}
.cmpnt-popup__btn--close {position:absolute;right:0;top:0;z-index:5;font-size:0}
.cmpnt-popup__btn--close span {position:relative;display:inline-block;border-radius:50%;background-color:rgba(5, 20, 31, 0.4);font-size:0;}
.cmpnt-popup__btn--close span::before {content:'';position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);z-index:5;background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-close-white.svg')}
.cmpnt-popup__dimmed {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.7);z-index:2000;}

@media screen and (min-width: 1025px) and (max-width: 20000px) {
    .cmpnt-popup {left:calc(50% - 640px);top:calc(50% - 392px);}
    .cmpnt-popup__media {width:1280px;height:720px;}
    .cmpnt-video__button span {width:76px;height:76px;}
}

@media screen and (min-width:1025px) and (max-width:1600px){
    .cmpnt-popup {left:calc(50% - 560px);top:calc(50% - 315px);}
    .cmpnt-popup__media {width:1120px;height:630px;}
}

@media screen and (min-width:768px) and (max-width:20000px){
    .cmpnt-popup__wrap {padding-top:64px;}
    .cmpnt-popup__btn--close {width:40px;height:40px;}
    .cmpnt-popup__btn--close span {width:40px;height:40px;}
    .cmpnt-popup__btn--close span::before {width:20px;height:20px;background-size:20px;}
}   

@media screen and (min-width:768px) and (max-width:1024px){
    .cmpnt-popup__wrap {padding-top:50px;}
    .cmpnt-popup__btn--close {right:10px;}
}

@media screen and (max-width:1024px){
    .cmpnt-popup {left:0;top:50%;transform: translateY(-50%);}
    .cmpnt-popup__media {width:100vw;height:auto}
    .cmpnt-video__button span {width:50px;height:50px;}
}

@media screen and (min-width:0) and (max-width:767px){
    .cmpnt-popup__wrap {padding-top:40px}
    .cmpnt-popup__btn--close {width:30px;height:30px;right:10px;}
    .cmpnt-popup__btn--close span {width:30px;height:30px;}
    .cmpnt-popup__btn--close span::before {width:16px;height:16px;background-size:16px;}
}