@charset "utf-8";

/* IMG02 */
.cmpnt-img02 {overflow:hidden;position:relative;width:100%;box-sizing:border-box;background-color:#f8f8f8}
.cmpnt-img02__wrap {position:relative;width:100%;height:100%;box-sizing:border-box;color:#05141F;}
.cmpnt-img02__img {width:100%}
.cmpnt-img02__img img {width:100%;height:100%;object-fit: cover;}

.cmpnt-img02__swiper .cmpnt-img02__item {border-top:1px solid #05141F;}
.cmpnt-img02__sub-title {font-family:'kiaM';line-height:140%}
.cmpnt-img02__sub-desc {line-height:150%;opacity:0.8}
.cmpnt-img02__sub-title + .cmpnt-img02__sub-desc {margin-top:16px;}

.cmpnt-img02__wrap .swiper-button-next, 
.cmpnt-img02__wrap .swiper-button-prev {display:block !important}
.cmpnt-img02__wrap .swiper-button span {display:none}
.cmpnt-img02__wrap .swiper-button-prev:after, 
.cmpnt-img02__wrap .swiper-button-next:after {font-size:0}
.cmpnt-img02__wrap .swiper-button-prev,
.cmpnt-img02__wrap .swiper-button-next {top:auto;bottom:0;border-radius:50%;background-color:rgba(5, 20, 31, 0.2);background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-swiper-arrow-white.svg');background-position: 50% 50%;background-repeat: no-repeat;}
.cmpnt-img02__wrap .swiper-button-prev {transform: rotate(3.142rad)}
.cmpnt-img02__wrap .swiper-button-prev:hover,
.cmpnt-img02__wrap .swiper-button-next:hover {background-color:rgba(5, 20, 31, 0.8);}
.cmpnt-img02__wrap .swiper-button-prev.swiper-button-disabled, 
.cmpnt-img02__wrap .swiper-button-next.swiper-button-disabled {display:none !important}

.cmpnt-img02__wrap .swiper-pagination {left:-5px;width:auto;text-align:left}
.cmpnt-img02__wrap .swiper-pagination.swiper-pagination-bullets {left:-5px;bottom:0;line-height:1em;cursor:pointer}
.cmpnt-img02__wrap .swiper-pagination {display:flex !important;align-items: center;}
.cmpnt-img02__wrap .swiper-pagination-bullet {height:2px;background-color:#05141F;opacity:0.2;border-radius: 0;--swiper-pagination-bullet-horizontal-gap:5px}
.cmpnt-img02__wrap .swiper-pagination-bullet.swiper-pagination-bullet-active {opacity:1}

.cmpnt-img02__wrap .is-hide {display:none !important}

@media screen and (min-width: 1025px) and (max-width: 20000px) {
    .cmpnt-img02__wrap {padding-bottom:90px;}
    .cmpnt-img02__img {height:648px;}
    .cmpnt-img02__img + .cmpnt-img02__swiper {margin-top:48px;}
    .cmpnt-img02__sub-title {font-size:26px;}
    .cmpnt-img02__sub-desc {font-size:17px;}
 
    .cmpnt-img02__swiper.swiper {margin-left:calc(50% - 640px);padding-bottom:48px}
    .cmpnt-img02__swiper.swiper.no-slide {padding-bottom:0}
    .cmpnt-img02__swiper .swiper-slide {display:flex;gap:40px;width:840px;min-width:1280px}
    .cmpnt-img02__swiper.swiper .cmpnt-img02__item {width:400px;min-width:400px;padding:24px 0 40px;}
    .cmpnt-img02__swiper.swiper.no-slide .cmpnt-img02__item {padding-bottom:0}
    .cmpnt-img02__wrap .swiper-pagination {height:48px;}
    .cmpnt-img02__wrap .swiper-pagination-bullet {width:40px;}
    .cmpnt-img02__wrap .swiper-button-prev,
    .cmpnt-img02__wrap .swiper-button-next {width:48px;height:48px;background-size:22px;}
    .cmpnt-img02__wrap .swiper-button-prev {left:calc(1280px - 106px);}
    .cmpnt-img02__wrap .swiper-button-next {left:calc(1280px - 48px);}
}

@media (max-width:1280px) {

}

@media screen and (max-width:1024px){
    .cmpnt-img02__wrap {padding-bottom:60px;}
    .cmpnt-img02__img + .cmpnt-img02__swiper {margin-top:36px;}
    .cmpnt-img02__sub-title {font-size:20px;}
    .cmpnt-img02__sub-desc {font-size:16px;}
    
    .cmpnt-img02__wrap .cmpnt-img02__swiper {width:100%;padding-bottom:44px;}
    .cmpnt-img02__swiper .cmpnt-img02__item {padding-top:16px;padding-bottom:24px}
    .cmpnt-img02__wrap .swiper-pagination {height:44px;}
    .cmpnt-img02__wrap .swiper-pagination-bullet {width:24px;}
    .cmpnt-img02__wrap .swiper-button-prev,
    .cmpnt-img02__wrap .swiper-button-next {width:44px;height:44px;background-size:20px;}
}

@media screen and (min-width:768px) and (max-width:1024px){
    .cmpnt-img02__img {height:408px;}
    .cmpnt-img02__wrap .cmpnt-img02__swiper {margin-left:38px;width:calc(100% - 38px)}
    .cmpnt-img02__swiper .swiper-slide {display:flex;gap:24px;}
    .cmpnt-img02__swiper .cmpnt-img02__item {width:50%}
    .cmpnt-img02__wrap .swiper-button-prev {left:auto;right:92px}
    .cmpnt-img02__wrap .swiper-button-next {right:38px}
}

@media screen and (min-width:0) and (max-width:767px){
    .cmpnt-img02__img {height:375px;}
    .cmpnt-img02__wrap .cmpnt-img02__swiper {margin-left:20px;width:calc(100% - 20px)}
    .cmpnt-img02__wrap .swiper-button-prev {left:auto;right:74px;}
    .cmpnt-img02__wrap .swiper-button-next {right:20px;}
}