@charset "utf-8";

/* TXT02 */
.cmpnt-txt02 {box-sizing:border-box;background-color:#fff;}
.cmpnt-txt02.bg-grey {background-color:#f8f8f8;}
.cmpnt-txt02__wrap.align-center {text-align:center}
.cmpnt-txt02__wrap.align-right {text-align:right}
.cmpnt-txt02__title {font-family:'kiaB';line-height:140%}
.cmpnt-txt02__sub-title {line-height:150%;color:rgba(5, 20, 31, 0.80)}
.cmpnt-txt02__title + .cmpnt-txt02__sub-title {margin-top:20px}

.cmpnt-txt02__sub-title + .cmpnt-txt02__cta {margin-top:40px}
.cmpnt-txt02__button {display:inline-flex;align-items: center;gap:4px;box-sizing:border-box;padding:0 30px;height:46px;background-color:#05141F;font-family:'KiaB';font-size:14px;line-height:46px;color:#fff;text-decoration:none}
.cmpnt-txt02__button:hover {text-decoration:none;}

.cta-ico {width:16px;height:16px;background-repeat:no-repeat;background-position:0 0;background-size:16px;}
.cta-ico.ico-none {display:none}
.ico-download {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-download-white.svg');}
.ico-phone {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-phone-white.svg');}
.ico-outlink {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-outlink-white.svg');order:2}
.cta-ico.ico-newIcon {background:none}
.ico-newIcon img {width:16px;height:16px;}

.cmpnt-txt02__button.bg-white {background-color:#fff;border:1px solid #05141F}
.bg-white strong {color:#05141F}
.bg-white .ico-download {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-download.svg');}
.bg-white .ico-phone {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-phone.svg');}
.bg-white .ico-outlink {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-outlink.svg');order:2}
.cmpnt-txt02__wrap[data-padding='0'] {padding-top:0;}


@media screen and (min-width: 1025px) and (max-width: 20000px) {
    .cmpnt-txt02__wrap {margin:0 auto;padding:90px 0;}
    .cmpnt-txt02__wrap[data-type='large'] {width:1280px;}
    .cmpnt-txt02__wrap[data-type='medium'] {width:768px;}
    .cmpnt-txt02__wrap[data-type='mediumA'] {width:1280px;}
    .cmpnt-txt02__wrap[data-type='mediumA'] .cmpnt-txt02__title,
    .cmpnt-txt02__wrap[data-type='mediumA'] .cmpnt-txt02__sub-title {width:768px;}
    .cmpnt-txt02__cta {display:flex;justify-content: center;gap:8px}
    .cmpnt-txt02__title {font-size:36px;}
    .cmpnt-txt02__sub-title {font-size:20px;} 
    .cmpnt-txt02__wrap[data-padding='90'] {padding-bottom:90px;}
    .cmpnt-txt02__wrap[data-padding='72'] {padding-bottom:72px;}
    .cmpnt-txt02__wrap[data-padding='54A'],
    .cmpnt-txt02__wrap[data-padding='54B'],
    .cmpnt-txt02__wrap[data-padding='54C'] {padding-bottom:54px;}
    .cmpnt-txt02__wrap[data-padding='48'] {padding-bottom:48px;}
    .cmpnt-txt02__wrap[data-padding='40A'],
    .cmpnt-txt02__wrap[data-padding='40B'] {padding-bottom:40px;}
    
}

@media (max-width:1280px) {

}


@media screen and (max-width:1024px){
    .cmpnt-txt02__wrap {padding:60px 0;}
    .cmpnt-txt02__wrap[data-padding='90'] {padding-bottom:60px;}
    .cmpnt-txt02__title {font-size:24px;}
    .cmpnt-txt02__sub-title {font-size:18px;} 
}

@media screen and (min-width:768px) and (max-width:1024px){
    .cmpnt-txt02__wrap[data-type='mediumA'],
    .cmpnt-txt02__wrap[data-type='large'] {margin:0 38px;}
    .cmpnt-txt02__wrap[data-type='medium'] {width:512px;margin:0 auto}
    .cmpnt-txt02__cta {display:flex;justify-content: center;flex-wrap: wrap;gap:10px}
    .cmpnt-txt02__wrap[data-padding='72'] {padding-bottom:54px;}
    .cmpnt-txt02__wrap[data-padding='54A'],
    .cmpnt-txt02__wrap[data-padding='54B'],
    .cmpnt-txt02__wrap[data-padding='54C'],
    .cmpnt-txt02__wrap[data-padding='48'] {padding-bottom:40px;}
    .cmpnt-txt02__wrap[data-padding='40A'],
    .cmpnt-txt02__wrap[data-padding='40B'] {padding-bottom:24px;}
}

@media screen and (min-width:0) and (max-width:767px){
    .cmpnt-txt02__wrap {margin:0 20px;}
    .cmpnt-txt02__cta {text-align:center;}
    .cmpnt-txt02__button {width:100%;justify-content: center;}
    .cmpnt-txt02__button + .cmpnt-txt02__button {margin-top:10px}
    .cmpnt-txt02__wrap[data-padding='72'] {padding-bottom:48px;}
    .cmpnt-txt02__wrap[data-padding='54A'] {padding-bottom:40px;}
    .cmpnt-txt02__wrap[data-padding='54B'] {padding-bottom:36px;}
    .cmpnt-txt02__wrap[data-padding='54C'] {padding-bottom:24px;}
    .cmpnt-txt02__wrap[data-padding='48'] {padding-bottom:36px;}
    .cmpnt-txt02__wrap[data-padding='40A'] {padding-bottom:28px;}
    .cmpnt-txt02__wrap[data-padding='40B'] {padding-bottom:24px;}
}