@charset "utf-8";

/* src02 */
.cmpnt-src02 {box-sizing:border-box;background-color:#f8f8f8;}
.cmpnt-src02__wrap {text-align: center;}
.cmpnt-src02__search {display:inline-flex;gap:10px;}

.cmpnt-src-result__list {display:flex;border-top:1px solid #05141F;border-bottom:1px solid rgba(5, 20, 31, 0.20);}
.cmpnt-src-result__list + .cmpnt-src-result__list {border-top:none}
.cmpnt-src-result__item {width:calc(100% / 3)}
.cmpnt-src-result__item + .cmpnt-src-result__item {border-left:1px solid rgba(5, 20, 31, 0.20);}
.cmpnt-src-result__name {line-height:150%;color:#05141F;}
.cmpnt-src-result__vlaue {font-family:'kiaB';line-height:150%;color:#05141F}
.cmpnt-src-result__list + .cmpnt-src__helpArea {margin-top:20px;}


@media screen and (min-width: 1026px) and (max-width: 20000px) {
    .cmpnt-src02__wrap {width:1280px;margin:0 auto;padding-bottom:90px;}
    .cmpnt-src02__search + .cmpnt-src02__result {margin-top:80px}
    .cmpnt-src-result__item {margin:36px 0}
    .cmpnt-src-result__name {font-size:17px;}
    .cmpnt-src-result__vlaue {font-size:26px;}
    .cmpnt-src-result__name + .cmpnt-src-result__vlaue {margin-top:12px}
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
    .cmpnt-src02__wrap {width:calc(100% - 8vw);}
}

@media screen and (max-width:1024px){
    .cmpnt-src02__wrap {padding-bottom:60px;}
    .cmpnt-src-result__name {font-size:16px;}
    .cmpnt-src-result__vlaue {font-size:20px;}
}

@media screen and (min-width:768px) and (max-width:1024px){
    .cmpnt-src02__wrap {margin:0 38px}
    .cmpnt-src02__search + .cmpnt-src02__result {margin-top:72px}
    .cmpnt-src-result__item {margin:28px 0}
    .cmpnt-src-result__name + .cmpnt-src-result__vlaue {margin-top:12px}
    .cmpnt-src-select,
    .cmpnt-src-select ul {width:185px;}
}

@media screen and (min-width:0) and (max-width:767px){
    .cmpnt-src02__wrap {margin:0 20px}
    .cmpnt-src02__search {flex-direction:column;width:100%;}
    .cmpnt-src02__search + .cmpnt-src02__result {margin-top:60px}
    .cmpnt-src-result__list {flex-direction:column;}
    .cmpnt-src-result__list:first-child {border-bottom:none}
    .cmpnt-src-result__list + .cmpnt-src-result__list {border-top:1px solid #05141F}
    .cmpnt-src-result__item {width:100%;display:flex;align-items: center;padding:20px 0}
    .cmpnt-src-result__item + .cmpnt-src-result__item {border-left:none;border-top:1px solid rgba(5, 20, 31, 0.20);}
    .cmpnt-src-result__name {width:50%;text-align:left}
    .cmpnt-src-result__vlaue {width:50%;text-align:right}
}