@charset "utf-8";

.cmpnt-kyv02 {width:100%;padding:72px 0;background-color:#fff;box-sizing:border-box;}
.cmpnt-kyv02__title {width:1280px;margin:0 auto;font-family:'kiaM';font-size:52px;line-height:130%;box-sizing:border-box;}

@media (max-width:1280px) {
    
}

@media (max-width:1024px) {
    .cmpnt-kyv02 {width:100%;margin:0;padding:54px 38px;}
    .cmpnt-kyv02__title {font-size:36px;} 
}

@media (max-width:767px) {
   .cmpnt-kyv02 {margin:0;padding:40px 20px} 
}

