@charset "utf-8";

.cmpnt-kyv02 {width:100%;padding:72px 0;background-color:#fff;box-sizing:border-box;}
.cmpnt-kyv02__title {margin:0 auto;font-family:'kiaM';line-height:130%;box-sizing:border-box;}

@media screen and (min-width: 1025px) and (max-width: 20000px) {
    .cmpnt-kyv02__title {width:1280px;font-size:52px;}    
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
    .cmpnt-kyv02__title {width:calc(100% - 4vw);margin-left:4vw}    
}

@media (max-width:1024px) {
    .cmpnt-kyv02 {width:100%;margin:0;padding:54px 38px;}
    .cmpnt-kyv02__title {font-size:36px;} 
}

@media (max-width:767px) {
   .cmpnt-kyv02 {margin:0;padding:40px 20px} 
}

