@charset "utf-8";

.cmpnt-kyv02 {width:1280px;margin:72px auto;box-sizing:border-box;}
.cmpnt-kyv02__title {font-family:'kiaM';font-size:52px;line-height:130%}

@media (max-width:1280px) {
    
}

@media (max-width:1024px) {
    .cmpnt-kyv02 {width:100%;margin:54px 0;padding:0 38px;}
    .cmpnt-kyv02__title {font-size:36px;} 
}

@media (max-width:767px) {
   .cmpnt-kyv02 {margin:40px 0;padding:0 20px} 
}

