@charset "utf-8";

/* APP00 */
.cmpnt-app00 {width:100%;margin:auto;background:#fff;box-sizing:border-box;}
.cmpnt-app00__wrap {box-sizing:border-box;}

.cmpnt-app00__title-qr {display:flex;width:100%;box-sizing:border-box;}
.cmpnt-app00__title-wrap {display:flex;justify-content:center;flex-direction:column}
.cmpnt-app00__title {font-family:"kiaB";font-size:36px;line-height:140%;}
.cmpnt-app00__sub-title {line-height:150%;color: rgba(5,20,31,.8);}

.cmpnt-app00__qrImage {display:flex;box-sizing:border-box;}
.cmpnt-app00__qrImage a {width:50%;display:inline-flex;justify-content:center}

.cmpnt-app00__image img {width:100%;height:auto}
.cmpnt-app00__image-desc {line-height:150%;}
.cmpnt-app00__image + .cmpnt-app00__image-desc {margin-top:24px}

.cmpnt-app00__wrap .swiper-button-next, 
.cmpnt-app00__wrap .swiper-button-prev {display:block !important}
.cmpnt-app00__wrap .swiper-button span {display:none}
.cmpnt-app00__wrap .swiper-button-prev:after, 
.cmpnt-app00__wrap .swiper-button-next:after {font-size:0}
.cmpnt-app00__wrap .swiper-button-prev,
.cmpnt-app00__wrap .swiper-button-next {top:auto;bottom:0;border-radius:50%;background-color:rgba(5, 20, 31, 0.2);background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-swiper-arrow-white.svg');background-position: 50% 50%;background-repeat: no-repeat;}
.cmpnt-app00__wrap .swiper-button-prev {transform: rotate(3.142rad)}
.cmpnt-app00__wrap .swiper-button-prev:hover,
.cmpnt-app00__wrap .swiper-button-next:hover {background-color:rgba(5, 20, 31, 0.8);}
.cmpnt-app00__wrap .swiper-button-prev.swiper-button-disabled, 
.cmpnt-app00__wrap .swiper-button-next.swiper-button-disabled {display:none !important}

.cmpnt-app00__wrap .swiper-pagination {display:flex !important;align-items:flex-end;justify-content:center}
.cmpnt-app00__wrap .swiper-pagination.swiper-pagination-bullets {left:-5px;bottom:0;line-height:1em;cursor:pointer}
.cmpnt-app00__wrap .swiper-pagination-bullet {position:relative;height:30px;background-color:transparent;opacity: 1;border-radius: 0;--swiper-pagination-bullet-horizontal-gap:5px}
.cmpnt-app00__wrap .swiper-pagination-bullet::before {content:'';position:absolute;left:0;bottom:0;width:100%;height:2px;background-color:#05141F;opacity:0.2;}
.cmpnt-app00__wrap .swiper-pagination-bullet.swiper-pagination-bullet-active::before {opacity:1}


@media screen and (min-width: 1026px) and (max-width: 20000px) {
  .cmpnt-app00 {padding:90px 0;}
  .cmpnt-app00__wrap {max-width:1280px;margin:auto;}
  .cmpnt-app00__title-qr {gap:40px}
  .cmpnt-app00__title-qr > div {width:calc(50% - 20px)}
  .cmpnt-app00__qrImage {padding:0 60px}
  .cmpnt-app00__qrImage a {padding:62px 42px 46px}
  .cmpnt-app00__title-wrap {gap:20px}
  .cmpnt-app00__title-qr + .cmpnt-app00__swiper {margin-top:48px}
  .cmpnt-app00__title {font-size:36px;}
  .cmpnt-app00__sub-title {font-size:17px;}
  .cmpnt-app00__image-desc {font-size:26px;text-align:left}
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .cmpnt-app00__wrap {width:calc(100% - 8vw);}
  .cmpnt-app00__title-qr > div {width:calc(50% - 6vw)}
}

@media all and (max-width:1024px){
  .cmpnt-app00 {padding:60px 0;}
  .cmpnt-app00__title-wrap {gap:16px}
  .cmpnt-app00__title {font-size:24px;}
  .cmpnt-app00__sub-title {font-size:16px;}
  .cmpnt-app00__image-desc {font-size:20px;}
  .cmpnt-app00__qrImage img {width:100%;height:auto}
  .cmpnt-app00__wrap .swiper-pagination-bullet {width:24px;}
  .cmpnt-app00__wrap .swiper-button-prev,
  .cmpnt-app00__wrap .swiper-button-next {top:calc(50% - 44px);width:44px;height:44px;background-size:20px;}
}

@media screen and (min-width:768px) and (max-width:1024px){
  .cmpnt-app00__title-qr {padding:0 38px;}
  .cmpnt-app00__title-qr {gap:28px}
  .cmpnt-app00__title-qr > div {width:calc(50% - 14px)}
  .cmpnt-app00__qrImage {padding:0 34px}
  .cmpnt-app00__qrImage a {padding:32px 21px 24px}
  .swiper.cmpnt-app00__swiper {margin-left:18px;padding-bottom:62px;padding-left:12px}
  .cmpnt-app00__title-qr + .cmpnt-app00__swiper {margin-top:40px}
  .cmpnt-app00__image-desc {text-align:left;}
  .cmpnt-app00__wrap .swiper-button-prev {left:2px}
  .cmpnt-app00__wrap .swiper-button-next {right:10px;}
  .cmpnt-app00__wrap .swiper-pagination {height:60px;}
}

@media all and (max-width:767px){
  .cmpnt-app00__title-qr {padding:0 20px;flex-direction:column;}
  .cmpnt-app00__title-qr {gap:0;}
  .cmpnt-app00__qrImage {padding:0 23px}
  .cmpnt-app00__qrImage a {padding:32px 22px 24px}
  .cmpnt-app00__title-qr + .cmpnt-app00__swiper {margin-top:36px}
  .swiper.cmpnt-app00__swiper {padding-bottom:40px}
  .cmpnt-app00__wrap .swiper-slide {text-align:center}
  .cmpnt-app00__image img {width:178px;height:auto}
}
