@charset "utf-8";

/* spp00 */
.cmpnt-pln00 {background-color:#fff}
.cmpnt-pln00__wrap {box-sizing: border-box;}
.cmpnt-pln00__list {display: flex; justify-content: space-between; gap: 40px; width: 100%;}
.cmpnt-pln00__item {background-color: #F8F8F8; line-height: 150%; word-wrap: break-word; word-break: break-word;box-sizing: border-box;}
.cmpnt-pln00__title {font-family: kiaB; line-height: 140%; border-bottom: 1px solid #05141F;}
.cmpnt-pln00__content {display: flex; flex-direction: column; justify-content: space-between; gap: 40px;}
.cmpnt-pln00__price {line-height: 150%; margin-bottom: 4px;}
.cmpnt-pln00__desc {min-height: 54px; line-height: 150%;opacity: 0.6;} 
.cmpnt-pln00__benefits {line-height: 150%;}
.cmpnt-pln00__benefits-item {display: flex; justify-content: space-between; gap: 8px;}
.cmpnt-pln00__benefits-item p {width: calc(100% - 32px); font-size: 14px; line-height: 150%;opacity: 0.6;}
.cmpnt-pln00__benefits-item +  .cmpnt-pln00__benefits-item {margin-top: 10px;}
.cmpnt-pln00__benefits-icon {display: block; width: 24px; height: 24px; background: url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-check.svg'); background-repeat: no-repeat;}

@media screen and (min-width: 1026px) and (max-width: 20000px) {
  .plusHeight .cmpnt-pln00__title{min-height: 72px;}
  .cmpnt-pln00__wrap {width: 1280px; margin: 0 auto; padding-bottom: 90px;}
  .cmpnt-pln00__item {width: calc((100% / 4 ) - 20px); padding: 30px;}
  .cmpnt-pln00__title {font-size: 26px; margin-bottom: 20px; padding-bottom: 12px;}
  .cmpnt-pln00__info {min-height: 52px;}
  .cmpnt-pln00__price {font-size: 20px;}
  .cmpnt-pln00__desc {font-size: 17px;}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .plusHeight .cmpnt-pln00__title{min-height: 65px;}
  .cmpnt-pln00__wrap{margin: 0 38px; padding-bottom: 120px;}
  .cmpnt-pln00__list {flex-wrap: wrap; gap: 28px;}
  .cmpnt-pln00__item {width: calc(50% - 14px); padding: 24px;}
  .cmpnt-pln00__title {font-size: 20px; margin-bottom: 16px; padding-bottom: 8px;}
  .cmpnt-pln00__info {height: auto;}
  .cmpnt-pln00__price {font-size: 18px;}
  .cmpnt-pln00__desc {font-size: 16px;}
}

@media screen and (min-width:0) and (max-width:767px){
  .cmpnt-pln00__wrap {margin: 0 20px; padding-bottom: 120px;}
  .cmpnt-pln00__list {flex-direction: column; gap: 20px;}
  .cmpnt-pln00__item {padding: 24px;}
  .cmpnt-pln00__title {font-size: 20px; margin-bottom: 16px; padding-bottom: 8px;}
  .cmpnt-pln00__info {height: auto;}
  .cmpnt-pln00__price {font-size: 18px;}
  .cmpnt-pln00__desc {font-size: 16px;}
}