@charset "utf-8";

/* ppp03 */
.cmpnt-ppp03 .cmpnt-popup__layer {max-width: 1060px; background-color: #fff;}
.cmpnt-ppp03 .cmpnt-popup__wrap {position: relative; padding: 90px 110px;}
.cmpnt-ppp03__title {font-family: kiaB; line-height: 140%; text-align: center;}
.cmpnt-ppp03__desc {line-height: 140%; text-align: center; opacity: 0.8;}
.cmpnt-ppp03__form {width: 100%;}
.cmpnt-ppp03__form .input_box {width: 100%; height: 46px; font-size: 14px; line-height: 150%; resize: none; border: 1px solid rgba(5, 20, 31, 0.20);  border-radius: 0; padding: 11px 15px; box-sizing: border-box; outline: none;}
.cmpnt-ppp03__form .input_box:focus {outline: none;border: 1px solid #05141f;}
.cmpnt-ppp03__form.required .input_box{border: 1px solid #ea0029;}
.cmpnt-ppp03__cta {width: 100%; margin: 0 auto; text-align: center;}
.cmpnt-ppp03__button {width: 100px; height: 46px; line-height: 46px; font-size: 14px; font-family: kiaB;  background-color: #05141F; color: #fff; padding: 0 30px; box-sizing: border-box;}
.cmpnt-ppp03__button:hover {text-decoration: underline; text-decoration-thickness: 1px; text-underline-offset: 3px; text-decoration-color: #fff;}
.cmpnt-ppp03 .cmpnt-popup__btn--close {position: absolute; top: 24px; right: 24px;}

@media screen and (min-width: 1026px) and (max-width: 20000px) {
  .cmpnt-ppp03__content {padding: 0 120px;}
  .cmpnt-ppp03__title {font-size: 26px; margin-bottom: 20px;}
  .cmpnt-ppp03__desc {font-size: 17px; margin-bottom: 40px;}
  .cmpnt-ppp03__form {margin-bottom: 40px;}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .cmpnt-ppp03 .cmpnt-popup__layer {max-width: 512px;}
  .cmpnt-ppp03 .cmpnt-popup__wrap {padding: 60px 30px;}
  .cmpnt-ppp03__content {}
  .cmpnt-ppp03__title {font-size: 20px; margin-bottom: 16px;}
  .cmpnt-ppp03__desc {font-size: 16px; margin-bottom: 30px;}
  .cmpnt-ppp03__form {margin-bottom: 30px;}
  .cmpnt-ppp03 .cmpnt-popup__btn--close {top: 20px; right: 20px;}
}

@media screen and (min-width:0) and (max-width:767px){
  .cmpnt-ppp03 .cmpnt-popup__layer {height: 100%; top: 0; left: 0; transform: none;}
  .cmpnt-ppp03 .cmpnt-popup__wrap {padding: 60px 20px;}
  .cmpnt-ppp03__title {font-size: 20px; margin-bottom: 16px;}
  .cmpnt-ppp03__desc {font-size: 16px; margin-bottom: 30px;}
  .cmpnt-ppp03__form {margin-bottom: 10px;}
  .cmpnt-ppp03__button {width: 100%;}
  .cmpnt-ppp03 .cmpnt-popup__btn--close {top: 20px; right: 20px;}
}