@charset "utf-8";

/* src06 */
.cmpnt-src06 {box-sizing:border-box;background-color:#f8f8f8;line-height:150%;color:#05141F;}
.cmpnt-src06__wrap {text-align: center;}
.cmpnt-src06__search {display:inline-flex;gap:10px;}

.cmpnt-src06-manual__title {font-family:'kiaB';border-bottom:1px solid #05141F;text-align:left}
.cmpnt-src06-manual__title + .cmpnt-src06-manual__list {margin-top:40px}
.cmpnt-src06-manual__list {display:flex;flex-wrap: wrap;}
.cmpnt-src06-manual__list::after {display: none;}

.cmpnt-src06-manual__item {background-color:rgba(5, 20, 31, 0.03);text-align:left;box-sizing:border-box;}
.cmpnt-src06-manual__name {line-height:150%;}
.cmpnt-src06-manual__item button {position:relative;width:100%;height:30px;text-align:left;font-size:17px;color:rgba(5, 20, 31, 0.60);}
.cmpnt-src06-manual__item button::after {content:'';display:inline-block;position:absolute;right:0;top:0;background-repeat: no-repeat;background-position: 0 0;}
.cmpnt-src06-manual__item button.cmpnt-src06__button--link::after {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-arrow-bottom.svg');transform: rotate(-90deg);}
.cmpnt-src06-manual__item button.cmpnt-src06__button--download::after {background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-download.svg');}
.cmpnt-src06-manual__name + button {margin-top:24px;}


@media screen and (min-width: 1026px) and (max-width: 20000px) {
    .cmpnt-src06__wrap {width:1280px;margin:0 auto;padding-bottom:90px;}
    .cmpnt-src06__search + .cmpnt-src06__result {margin-top:80px}

    .cmpnt-src06-manual__list {gap:40px}
    .cmpnt-src06-manual__item {width:400px;padding:30px;}
    .cmpnt-src06-manual__title {font-size:26px;padding-bottom:32px;}
    .cmpnt-src06-manual__name {font-size:20px;min-height:85px;}
    .cmpnt-src06-manual__item button {height:30px;font-size:17px;}
    .cmpnt-src06-manual__item button::after {width:30px;height:30px;background-size:30px;}
    .cmpnt-src06-manual__list + .cmpnt-src06-manual__title {margin-top:90px;}
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
    .cmpnt-src06__wrap {width:calc(100% - 8vw);}
}


@media screen and (max-width:1024px){
    .cmpnt-src06__wrap {padding-bottom:60px;}
    
    .cmpnt-src06-manual__title {font-size:20px;padding-bottom:20px;}
    .cmpnt-src06-manual__name {font-size:18px;min-height:70px;}
    .cmpnt-src06-manual__item {padding:24px;}
    .cmpnt-src06-manual__item button {height:24px;font-size:16px;}
    .cmpnt-src06-manual__item button::after {width:24px;height:24px;background-size:24px;}
    .cmpnt-src06-manual__list + .cmpnt-src06-manual__title {margin-top:32px;}
}

@media screen and (min-width:768px) and (max-width:1024px){
    .cmpnt-src06__wrap {margin:0 38px}
    .cmpnt-src06__search + .cmpnt-src06__result {margin-top:72px}
    .cmpnt-src06-manual__list {gap:28px}
    .cmpnt-src06-manual__item {width:calc(50% - 14px);}
    .cmpnt-src-select,
    .cmpnt-src-select ul {width:185px;}
}

@media screen and (min-width:0) and (max-width:767px){
    .cmpnt-src06__wrap {margin:0 20px}
    .cmpnt-src06__search {flex-direction:column;width:100%;}
    .cmpnt-src06__search + .cmpnt-src06__result {margin-top:60px}
    .cmpnt-src06-manual__list {gap:20px;flex-direction:column;}
}