@charset "utf-8";

/* src04 */
.cmpnt-src04 {box-sizing:border-box;background-color:#f8f8f8;line-height:150%}
.cmpnt-src04__wrap {text-align: center;}
.cmpnt-src04__search{width:100%;text-align:center}

.search-table {display:flex;}
.search-table + .search-table {margin-top:60px}
.search-table__title {text-align:left;font-family: 'kiaB';line-height:140%;}
.table-tr {display:flex;text-align:left;}
.table-th {font-family: 'kiaB';line-height:140%;}
.table-td {line-height:150%;}

.cmpnt-src04__list-blt {text-align:left;}
.cmpnt-src04__list-blt li {color:rgba(5, 20, 31, 0.60);padding-left:6px;text-indent:-6px;padding-bottom:2px;}
.cmpnt-src04__list-blt li::before {content:'';display:inline-block;background-color: rgba(5, 20, 31, 0.60);width:2px;height:2px;border-radius: 2px;vertical-align:middle;margin-top:-1px;margin-right:5px;}

@media screen and (min-width: 1026px) and (max-width: 20000px) {
    .cmpnt-src04__wrap {width:1280px;margin:0 auto;padding-bottom:90px;}
    .cmpnt-src-input {width:620px;}
    .cmpnt-src__error {width:620px;margin:8px auto;}
    .search-table {gap:40px}
    .search-table__title {width:400px;padding-top:12px;font-size:26px;}
    .table-thead {border-top:1px solid #05141F;border-bottom:1px solid #05141F;display:flex;gap:40px;text-align:left}
    .table-thead div,
    .table-tr div {width:48%;}
    .table-thead div + div,
    .table-tr div + div {width:26%;}
    .table-tr {gap:40px;border-bottom:1px solid rgba(5, 20, 31, 0.20)}
    .search-table__list {width:calc(100% - 440px)}
    .table-th {font-size:20px;padding:24px 0}
    .table-td {font-size:17px;padding:24px 0}
    .table-td .mo {display:none}
    .cmpnt-src04__list-blt {margin-top:90px;}
    .cmpnt-src04__list-blt li {font-size:13px;}
    .cmpnt-src04__search + .cmpnt-src04__result {margin-top:80px}
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
    .cmpnt-src04__wrap {width:calc(100% - 8vw);}
}

@media screen and (max-width:1024px){
    .cmpnt-src04__wrap {padding-bottom:60px;}
    .table-thead {display:none}
    .search-table__list {border-bottom:1px solid #05141F;}
    .search-table {flex-direction:column;gap:24px}
    .search-table__title {font-size:24px;}
    .table-tr {flex-direction: column;border-top:1px solid #05141F;}
    .table-th {font-size:18px;padding:16px 0;border-bottom:1px solid rgba(5, 20, 31, 0.20)}
    .table-td {font-size:16px;padding-top:16px}
    .table-td {display:flex;justify-content: space-between;}
    .table-td .mo {display:block}
    .table-td + .table-td {padding:8px 0 16px}
    .cmpnt-src04__list-blt {margin-top:60px;}
    .cmpnt-src04__list-blt li {font-size:12px;}
}

@media screen and (min-width:768px) and (max-width:1024px){
    .cmpnt-src04__wrap {margin:0 38px}
    .cmpnt-src04__search + .cmpnt-src04__result {margin-top:72px}
    .cmpnt-src-input {width:512px;}
    .cmpnt-src__error {width:512px;margin:8px auto;}
}

@media screen and (min-width:0) and (max-width:767px){
    .cmpnt-src04__wrap {margin:0 20px}
    .cmpnt-src04__search {flex-direction:column;width:100%;}
    .cmpnt-src04__search + .cmpnt-src04__result {margin-top:60px}
    .search-table + .search-table {margin-top:60px}
}