@charset "utf-8";

/* src05 */
.cmpnt-src05 {box-sizing:border-box;background-color:#f8f8f8;line-height:150%}
.cmpnt-src05__wrap {text-align: center;}
.cmpnt-src05__search{width:100%;text-align:center}

.cmpnt-src05__search + .cmpnt-src05__result {margin-top:80px}
.cmpnt-sr05__wrap {margin-top:40px;text-align:right}

.search-table {display:flex;}
.search-table__title {text-align:left;font-family: 'kiaB';line-height:140%;}
.table-tr {display:flex;text-align:left;}
.table-th {font-family: 'kiaB';}
.search-table__list {border-top:1px solid #05141F;}

.cmpnt-src05__list-blt {text-align:left;}
.cmpnt-src05__list-blt li {color:rgba(5, 20, 31, 0.60);padding-left:6px;text-indent:-6px;padding-bottom:2px;}
.cmpnt-src05__list-blt li::before {content:'';display:inline-block;background-color: rgba(5, 20, 31, 0.60);width:2px;height:2px;border-radius: 2px;vertical-align:middle;margin-top:-1px;margin-right:5px;}

.cmpnt-src05__wrap a.cmpnt-src__button {display:inline-block;line-height:46px;box-sizing:border-box;}
.cmpnt-src05__wrap a.cmpnt-src__button,
.cmpnt-src05__wrap a.cmpnt-src__button:hover {text-decoration:none;}

@media screen and (min-width: 1026px) and (max-width: 20000px) {
    .cmpnt-src05__wrap {width:1280px;margin:0 auto;padding-bottom:90px;}
    .cmpnt-src-input {width:620px;}
    .search-table {gap:40px}
    .search-table__title {width:400px;padding-top:12px;font-size:26px;}
    .search-table__list--2col .table-tr div {width:30%;}
    .search-table__list--2col .table-tr div + div {width:70%;}
    .table-tr {gap:40px;border-bottom:1px solid rgba(5, 20, 31, 0.20)}
    .search-table__list {width:calc(100% - 440px)}
    .table-th {font-size:20px;padding:24px 0}
    .table-td {font-size:17px;padding:24px 0}
    .cmpnt-src05__list-blt {margin-top:90px;}
    .cmpnt-src05__list-blt li {font-size:13px;}
    .cmpnt-sr05__wrap {margin-top:40px;text-align:right}
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
    .cmpnt-src05__wrap {width:calc(100% - 8vw);}
}

@media screen and (max-width:1024px){
    .cmpnt-src05__wrap {padding-bottom:60px;}
    .cmpnt-src__error {width:512px;margin:8px auto;}
    .search-table__list {border-bottom:1px solid #05141F;border-top:none}
    .search-table {flex-direction:column;gap:24px}
    .search-table__title {font-size:24px;}
    .table-tr {flex-direction: column;border-top:1px solid #05141F;}
    .table-th {font-size:18px;padding:16px 0;border-bottom:1px solid rgba(5, 20, 31, 0.20)}
    .table-td {font-size:16px;padding:16px 0}
    .cmpnt-src05__list-blt {margin-top:60px;}
    .cmpnt-src05__list-blt li {font-size:12px;}
    .cmpnt-sr05__wrap {margin-top:28px;}
}

@media screen and (min-width:768px) and (max-width:1024px){
    .cmpnt-src05__wrap {margin:0 38px}
    .cmpnt-src-input {width:512px;}
    .cmpnt-src__error {width:100%;margin:8px auto;}
    .search-table + .search-table {margin-top:72px}
    .cmpnt-sr05__wrap {text-align:right}
}

@media screen and (min-width:0) and (max-width:767px){
    .cmpnt-src05__wrap {margin:0 20px;}
    .cmpnt-src05__wrap .cmpnt-src__button {width:100%;text-align: center;}
    .cmpnt-src05__search {flex-direction:column;width:100%;}
    .search-table + .search-table {margin-top:60px}
}