@charset "utf-8";

/* lst03 */
.cmpnt-qck00 {background-color:#fff;display:none}
.cmpnt-qck00.is-show {display:block}
.cmpnt-qck00__wrap {box-sizing:border-box;background-color:#fff;}

.cmpnt-qck00__head {position: relative;}
.cmpnt-qck00__head h2 {position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);z-index:10;width:840px;font-family:'kiaB';font-size:40px;line-height:140%;color:#fff;text-align:center}
.cmpnt-qck00__bg {width:100%;height:430px;}
.cmpnt-qck00__bg img {width:100%;height:100%;object-fit:cover;}
.cmpnt-qck00__bg::after {content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);z-index:0}

.cmpnt-qck00__title {font-family:'kiaB';font-size:26px;line-height:150%;}
.cmpnt-qck00__desc {font-size:17px;line-height:150%;color:rgba(5, 20, 31, 0.8);}
.cmpnt-qck00__desc + .cmpnt-qck00__content-type {margin-top:60px;}
.cmpnt-qck00__title + .cmpnt-qck00__desc {margin-top:16px;}

.cmpnt-qck00__content-type + .cmpnt-qck00__content-type {margin-top:50px;}
.cmpnt-qck00__content-type[data-type='imgText1'] img + ul {margin-top:26px;}

.cmpnt-qck00__list-blt li {padding-left:12px;text-indent:-12px;font-size:17px;line-height:150%;color:rgba(5, 20, 31, 0.8);}
.cmpnt-qck00__list-blt li::before {content:'';display:inline-block;background-color: rgba(5, 20, 31, 0.80);width:3px;height:3px;border-radius:3px;vertical-align:middle;margin-top:-1px;margin-right:10px}
.cmpnt-qck00__list-blt li + li {margin-top:16px;}

.cmpnt-qck00__cautions {background-color:rgba(5, 20, 31, 0.05);padding:44px;margin:30px 110px;box-sizing:border-box;}
.cmpnt-qck00__cautions h4 {font-family:'kiaB';font-size:17px;line-height:150%;padding-left:36px;width:24px;height:24px;background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-message.svg');background-repeat:no-repeat;background-position:0 50%;background-size:24px;}
.cmpnt-qck00__cautions h4 + .cmpnt-qck00__cautions-desc {margin-top:40px;}
.cmpnt-qck00__cautions-desc ul + p {margin-top:20px;}
.cmpnt-qck00__cautions-desc p {font-size:17px;line-height:150%;color:rgba(5, 20, 31, 0.8);}
.cmpnt-qck00__cautions-desc a {color:rgba(5, 20, 31, 0.8);text-decoration:underline;}

@media screen and (min-width: 1025px) and (max-width: 20000px) {
    .cmpnt-qck00 .cmpnt-popup__layer {position:absolute;width:1280px;top:100px;transform: translate(-50%, 0);}
    .cmpnt-qck00 .cmpnt-popup__wrap {padding-top:0}
    .cmpnt-qck00 .cmpnt-popup__btn--close {right:24px;top:24px;}

    .cmpnt-qck00__content {padding:60px 110px}
}

@media screen and (max-width:1024px){
    
}

@media screen and (min-width:768px) and (max-width:1024px){
    
}

@media screen and (min-width:0) and (max-width:767px){
    
}