@charset "utf-8";

/* lst03 */
.cmpnt-qck00 {background-color:#fff;}
.cmpnt-qck00__content {box-sizing: border-box;}

.cmpnt-qck00__head {position: relative;}
.cmpnt-qck00__head h2 {position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);z-index:10;font-family:'kiaB';line-height:140%;color:#fff;text-align:center;box-sizing:border-box;}
.cmpnt-qck00__bg {width:100%;}
.cmpnt-qck00__bg img {width:100%;height:100%;object-fit:cover;}
.cmpnt-qck00__bg::after {content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);z-index:0}

/* list(공통) - bullet, step */
.cmpnt-qck00__list-blt li {position:relative;line-height:150%;color:rgba(5, 20, 31, 0.8);}
.cmpnt-qck00__list-blt li::before {content:'';position:absolute;left:0;top:8px;display:inline-block;background-color: rgba(5, 20, 31, 0.80);width:5px;height:5px;border-radius:50%;vertical-align:middle;}
.cmpnt-qck00__list-blt li a,
.cmpnt-qck00__list-step li a {text-decoration: underline;text-underline-offset:5px;}
.cmpnt-qck00__list-blt li + li,
.cmpnt-qck00__list-step li + li {margin-top:16px;}
.cmpnt-qck00__list-step li {position:relative;line-height:150%;color:rgba(5, 20, 31, 0.8);}
.cmpnt-qck00__list-step li span {position:absolute;left:0;top:0;font-family:'kiaB';}
.cmpnt-qck00__caption {line-height:150%;color:rgba(5, 20, 31, 0.6);}
.cmpnt-qck00__list-blt + .cmpnt-qck02__caption {padding-left:21px;}
.cmpnt-qck00__list-step + .cmpnt-qck02__caption {padding-left:39px;}

/* share */
.cmpnt-qck00__share {text-align:center;padding:30px 0}
.cmpnt-qck00__button--share {margin:0 auto;width:40px;height:40px;background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-share.svg');background-repeat:no-repeat;background-position:0 50%;background-size:100%;font-size:0}

/* button : list */
.cmpnt-qck00__button-wrap {border-top:1px solid rgba(5, 20, 31, 0.20);}
.cmpnt-qck00__button--list {display:inline-flex;align-items:center;justify-content:center;gap:4px;box-sizing:border-box;padding:0 30px;height:46px;background-color:#05141F;font-family:'KiaB';font-size:14px;line-height:46px;color:#fff;text-decoration:none}

/* related content */
.cmpnt-qck00__relation {background-color:rgba(5, 20, 31, 0.05);}
.cmpnt-qck00__relation h3 {font-family:'kiaB';line-height:140%;}
.cmpnt-qck00__list .swiper-slide {background-color:#fff}
.cmpnt-qck00__list .swiper-slide:hover {background-color:rgba(5, 20, 31, 0.8);}
.cmpnt-qck00__list .swiper-slide a {text-decoration:none;}
.cmpnt-qck00__list .swiper-slide a:hover {color:#fff;}
.cmpnt-qck00__list .swiper-slide img {width:100%;height:auto;aspect-ratio:16/9;}
.cmpnt-qck00__relation-title {padding:24px;}
.cmpnt-qck00__relation-title span {font-family:'kiaB';font-size:16px;line-height:150%;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient: vertical;box-sizing:border-box;}

/* qck01 : Contents Type : Text */
.cmpnt-qck01 {padding:60px 0 16px;}
.cmpnt-qck01__title {font-family:'kiaB';line-height:150%;}
.cmpnt-qck01__desc {line-height:150%;color:rgba(5, 20, 31, 0.8);}
.cmpnt-qck01__title + .cmpnt-qck01__desc {margin-top:16px;}

/* qck02 : Contents Type : Image&Text (1XN) */
.cmpnt-qck02 .cmpnt-qck02__img + .cmpnt-qck02__list {margin-top:26px;}
.cmpnt-qck02__img img {width:100%;height:auto;}

/* qck03 : Contents Type : Image&Text (2XN) */
.cmpnt-qck03 {display:flex;}
.cmpnt-qck03__img img {width:100%;height:auto;}

/* caution */
.cmpnt-qck04 {background-color:rgba(5, 20, 31, 0.05);box-sizing:border-box;}
.cmpnt-qck04__title {font-family:'kiaB';line-height:150%;width:24px;height:24px;background-image:url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-message.svg');background-repeat:no-repeat;background-position:0 50%;background-size:24px;}
.cmpnt-qck04 .cmpnt-qck00__list-blt li {padding-left:12px;}
.cmpnt-qck04 .cmpnt-qck00__list-blt li::before {width:4px;height:4px;}
.cmpnt-qck04 .cmpnt-qck00__list-blt li + li {margin-top:5px;}
.cmpnt-qck04__desc {line-height:150%;color:rgba(5, 20, 31, 0.8);}
.cmpnt-qck04__desc ul {margin-bottom:30px;}
.cmpnt-qck04__desc ul:only-child {margin-bottom:0;}
.cmpnt-qck04__desc ul:last-of-type {margin-top:30px;}
.cmpnt-qck04__desc a {color:rgba(5, 20, 31, 0.8);text-decoration:underline;text-underline-offset:5px;}
.cmpnt-qck04__title + .cmpnt-qck04__desc {margin-top:20px;}

@media screen and (min-width: 1025px) and (max-width: 20000px) {
    .cmpnt-qck00__head h2 {width:840px;font-size:42px;}
    .cmpnt-qck00__content {width:1060px;margin:0 auto;}
    .cmpnt-qck00__bg {height:430px;}

    /* list(공통) - bullet, step */
    .cmpnt-qck00__list-blt li {font-size:17px;padding-left:20px;}
    .cmpnt-qck00__list-step {padding-top: 16px;}
    .cmpnt-qck00__list-step li {font-size:17px;padding-left:36px;}
    .cmpnt-qck00__caption {font-size:13px;margin-top:10px}
    .cmpnt-qck00__share {width:1060px;margin:0 auto}
    .cmpnt-qck00__button-wrap {width:1060px;margin:30px auto 0;padding:48px 0 60px;text-align:right;}
    .cmpnt-qck00__relation {padding:60px 0 180px;}
    .cmpnt-qck00__relation-wrap {width:1060px;margin:0 auto}
    .cmpnt-qck00__relation-title span {-webkit-line-clamp:2;min-height:48px;max-height:48px}
    .cmpnt-qck00__relation h3 {font-size:26px;}
    .cmpnt-qck00__relation h3 + .cmpnt-qck00__swiper {margin-top:22px;}
    .cmpnt-qck00__list .swiper-slide {width:326px;}

    .cmpnt-qck01 {padding:60px 0 16px;}
    .cmpnt-qck01__title {font-size:26px;}
    .cmpnt-qck01__desc {font-size:17px;}
    .cmpnt-qck02,
    .cmpnt-qck03 {padding:40px 0 60px;}
    .cmpnt-qck03 {gap:40px;}
    .cmpnt-qck03 div {width:calc(50% - 20px)}
    .cmpnt-qck04 {width:1060px;padding:44px;margin:30px auto;}
    .cmpnt-qck04 h4 {font-size:17px;padding-left:36px;}
    .cmpnt-qck04__desc {font-size:17px;}
}

@media screen and (max-width:1024px){
    .cmpnt-qck00__head h2 {font-size:30px;}
    .cmpnt-qck00__list-blt li {font-size:16px;padding-left:16px;}
    .cmpnt-qck00__list-step li {font-size:16px;padding-left:32px;}
    .cmpnt-qck00__caption {font-size:12px;margin-top:16px}
    .cmpnt-qck00__list-blt + .cmpnt-qck00__caption {padding-left:18px;}
    .cmpnt-qck00__list-step + .cmpnt-qck00__caption {padding-left:34px;}
    .cmpnt-qck00__button-wrap {padding:48px 0 60px;}
    .cmpnt-qck00__relation h3 {font-size:20px;}
    .cmpnt-qck00__relation h3 + .cmpnt-qck00__swiper {margin-top:20px;}
    .cmpnt-qck00__relation-title span {min-height:48px;max-height:48px;-webkit-line-clamp:3;min-height:67px;max-height:67px}

    .cmpnt-qck01__title {font-size:20px;}
    .cmpnt-qck01__desc {font-size:16px;}
    .cmpnt-qck03 {flex-direction:column;gap:26px;}
    .cmpnt-qck04__title {font-size:16px;padding-left:30px;}
    .cmpnt-qck04__desc {font-size:16px;}
}

@media screen and (min-width:768px) and (max-width:1024px){
    .cmpnt-qck00__head h2 {width:512px;}
    .cmpnt-qck00__bg {height:368px;}
    .cmpnt-qck00__content {margin:0 128px}
    .cmpnt-qck00__button-wrap {margin:30px 128px 0;text-align:right}
    .cmpnt-qck00__relation {padding:40px 0 120px 128px;}
    .cmpnt-qck00__list .swiper-slide {width:242px;}
    
    .cmpnt-qck02,
    .cmpnt-qck03 {padding:30px 0 40px}
    .cmpnt-qck04 {padding:36px;margin:30px 128px}
}

@media screen and (min-width:0) and (max-width:767px){
    .cmpnt-qck00__head h2 {width:100%;padding:0 20px}
    .cmpnt-qck00__bg {height:auto;aspect-ratio:1/1;}
    .cmpnt-qck00__content {padding:0 20px}
    .cmpnt-qck00__button-wrap {margin:30px 20px 0;}
    .cmpnt-qck00__button--list {width:100%;}
    .cmpnt-qck00__relation {padding:40px 0 60px 20px;}
    .cmpnt-qck00__list .swiper-slide {width:246px;}

    .cmpnt-qck02,
    .cmpnt-qck03 {padding:30px 0 36px}
    .cmpnt-qck04 {padding:28px;margin:30px 20px;}
}