@charset "utf-8";

.cmpnt-kyv {overflow:hidden;position:relative;width:100%;height:calc(100vh - 112px);margin:auto;box-sizing:border-box;}
.cmpnt-kyv__wrap {position:relative;width:100%;height:100%;margin:auto;box-sizing:border-box;}
.cmpnt-kyv__img {width:100%;height:100%;} 
.cmpnt-kyv__img img {width:100%;height:100%;object-fit: cover;}
.cmpnt-kyv-subLnb {position:absolute;top:0;left:0;width:100%;margin-top:60px;line-height: 140%;}
.cmpnt-kyv-subLnb__box {display:flex;flex-direction:row;justify-content:space-between;width:100%;max-width:1415px;height:41px;margin:auto;padding:21px 10px 21px 0}
.cmpnt-kyv-subLnb__title {width:400px;}
.cmpnt-kyv-subLnb__title h1 {font-size:32px;font-family:"kiaB";color:#fff;line-height:1;}
.cmpnt-kyv-subLnbList__inner {margin-top:16px;line-height:1;}
.cmpnt-kyv-subLnbList__item {position:relative;padding-top:10px;margin-right:42px;font-family:"kiaB";font-size:18px;color:#fff;opacity:.6;box-sizing:border-box;text-decoration:none;}
.cmpnt-kyv-subLnbList__item:last-child {margin-right:0;}
.cmpnt-kyv-subLnbList__item:hover {color:#fff;opacity:1;text-decoration-thickness:1px;text-underline-offset:6px;}
.cmpnt-kyv-subLnbList__item.on {font-family:'kiaB';color:#fff;opacity:1;}
.cmpnt-kyv-subLnbList__item.on:after {display:block;position:absolute;top:-4px;left:0;content:"";width:100%;height:4px;background:#fff;}
.cmpnt-kyv-textBox {position:absolute;top:50%;left:50%;width:100%;max-width:840px;color:#fff;text-align:center;transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);}
.cmpnt-kyv-textBox__title {font-size:52px;font-family:'kiaB';line-height:1.3;word-break:break-word;}
.cmpnt-kyv-textBox__subtitle {padding-top:12px;font-size:26px;line-height:1.4;word-break:break-word;}
.cmpnt-kyv__button {position:absolute;bottom:0;left:0;width:100%;box-sizing:border-box;}
.cmpnt-kyv__button a {position: absolute;top: auto;bottom: 0;left: 50%;width:48px; height:48px;padding:40px 0;text-indent:-9999px;background: url('/content/dam/kwcms/gt/en/images/owners-new/common/ico-arrow-bottom-white.svg') no-repeat 50% 50%;transform: translate3d(-50%, 0, 0);/*animation: arrow-down infinite 1.5s;*/transform: translateX(-50%);-ms-transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);-o-transform: translateX(-50%);}


@media (max-width:1280px) {
    .cmpnt-kyv__subLnb_box {padding:0 20px;box-sizing:border-box;}
    .cmpnt-kyv-subLnbList {white-space:nowrap;box-sizing:border-box;}
}

@media (max-width:1024px) {
    .cmpnt-kyv {height:calc(100vh - 60px);}
    .cmpnt-kyv-subLnb {margin-top:32px;}
    .cmpnt-kyv-subLnbList  {overflow-x:auto;white-space:nowrap;box-sizing:border-box;}
    .cmpnt-kyv-subLnb__title {width:100%;font-size:20px;padding:0 20px;box-sizing:border-box;}
    .cmpnt-kyv-subLnb__title h1 {font-size:20px;}
    .cmpnt-kyv-subLnb__box {display:block;padding:0;}
    .cmpnt-kyv-subLnbList {padding:20px 38px;box-sizing:border-box;}
    .cmpnt-kyv-subLnbList__item:last-child {margin-right:42px;}
    .cmpnt-kyv-textBox {max-width:512px;padding:0 20px;box-sizing: border-box;}
    .cmpnt-kyv-textBox__title {font-size:36px;}
    .cmpnt-kyv-textBox__subtitle {font-size:20px;padding-top:10px;}
    .cmpnt-kyv-subLnb__title {padding:0 38px 0 38px;}
    .cmpnt-kyv__button a {padding:24px 0;width:36px; height:36px;background-size:contain}
    
}

@media (max-width:767px) {
    .cmpnt-kyv-subLnb__title {padding:0 20px;}
    .cmpnt-kyv-subLnbList {padding:20px;}
    .cmpnt-kyv-subLnbList__item.on:after {height:3px;top:-3px;}
    .cmpnt-kyv-textBox__subtitle {padding-top:10px;}
}


@-webkit-keyframes arrow-down {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
    30% {
        -webkit-transform: translate3d(-50%, 20%, 0);
        transform: translate3d(-50%, 20%, 0);
    }
    60% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}
@keyframes arrow-down {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
    30% {
        -webkit-transform: translate3d(-50%, 20%, 0);
        transform: translate3d(-50%, 20%, 0);
    }
    60% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}


